
<div class ="todoapp">

    <div class="container">
    <div class="row">
        <div class="col-sm-6" >
            <img class ="img-class" src="assets/images/todoapp.png">
        </div>
        <div class="col-sm-6">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                 <textarea matInput placeholder="Leave a comment" #newtodo> </textarea>
                 </mat-form-field>
            </form>
            <div class="example-button-row">
                <button mat-raised-button color="primary" (click)="addTodo(newtodo)">Ekle</button>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="card-id">
        <mat-card>
        <div class="example-container">
        <h2>Bekleyenler</h2>
        <div
            cdkDropList
            #PendingsList="cdkDropList"
            [cdkDropListData]="data.Pendings"
            [cdkDropListConnectedTo]="[inProgressList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of Pendings" cdkDrag>{{item}}</div>
        </div>
    </div>

        <div class="example-container">
            <h2>Yapılanlar</h2>

            <div
                cdkDropList
                #inProgressList="cdkDropList"
                [cdkDropListData]="data.inProgress"
                [cdkDropListConnectedTo]="[PendingsList,doneList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of inProgress" cdkDrag>{{item}}</div>
            </div>
        </div>
          <div class="example-container">
            <h2>Tamamlananlar</h2>

            <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="data.[inProgressList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
            </div>
        </div>
               
                
            </mat-card>
    
        </div> 
    </div>
</div>
