
<div class ="todoapp">

    <div class="container">
    <div class="row">
        <div class="col-sm-6" >
            <img class ="img-class" src="assets/images/todoapp.png">
        </div>
        <div class="col-sm-6">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Yapılacak yeni madde"></textarea>
                </mat-form-field>
            </form>
        <button mat-raised-button color="primary">Ekle</button>
        </div>
    </div>
    <div class="col-sm-12">
       <mat-card>Simple card</mat-card>   
    </div> 
    </div>
</div>
