<div class= "container" style= "margin-left:350px; margin-top:100px">

   <div class ="card " *ngIf="selectedMovie">
    <div class  ="card-body" style= "width:28rem ">
        <span class ="badge badge-warning">
            id:{{selectedMovie.id}} name :{{selectedMovie.name}}
        </span>

    <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="selectedMovie.name">
        <div class="input-group-append">
             <button class ="btn btn-outline-secondary" type="button">Update </button>
        </div>
    </div>
    </div>
      </div>
<h1 style="color:pink">{{title}}</h1>
 <div class="card" style= "width:28rem ">
   <ul class="list-group list-group-flush" >
     <li *ngFor="let item of getItems(item)"  (click)=onSelected(item) class ="list-group-item"
     [class.active]='item===selectedMovie'
     >
      <span class="badge ">{{item.id }} - </span>{{item.name }} 
        <span class="close"> x </span>
     </li>
             
    </ul>
</div>
</div>