{{data}}
<div  class ="container">
    <div class ="button-type" style ="margin:30px">
    	  <a href="/" style="margin:10px; font-size:15px" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Form Listesine Geri Dön</a>
 </div>

	<form [formGroup]="courseForm" (ngSubmit)="onSubmit()" style ="margin:70px">
	 <div class="form-group" >
	  	<h2  style= "color:#00008B">ÜYE BİLGİ FORMU  </h2>
	    <label>AD</label>
	    <input  class="form-control"
            formControlName="courseName"  placeholder="Adınızı Giriniz" style="width: 300px; height: 40px" >
	   </div>

	 <div class="form-group">
	    <label >SOYAD</label>
	    <input class="form-control"
            formControlName="courseSurName" placeholder="Soyadınızı Giriniz " style=" width: 300px; height: 40px">
	  </div>
	  <div class="form-group">
	    <label>YAŞ</label>
	    <input type="number"
             class="form-control"
            formControlName="courseAge" placeholder="Yaşınızı Giriniz" style="width: 300px; height: 40px">
	  </div>
	 
	  <button type="submit" class="btn btn-primary">KAYDET</button>

	</form>

</div>

