@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.topnav {
    background-color: pink;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: pink;
}

.topnav a.active {
    background-color: pink;
    color: white;
}

.topnav-right {
    float: right;
}