{{getClasses()}}
<div class ="container">
   <div class ="cont-1">
	   <h2 style= "color:#00008B">Form Listeleri </h2>
	   <a href="/form" style="margin:30px; font-size:15px" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Yeni Form Oluştur</a>
	</div>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>


